@{
    ViewBag.Title = "Empleados";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>ABM (alta, baja, modificacion) de empleados y datos personales</p>
    <p>
        Entidad Relacionadas en esta pagina son: employees
    </p>
</main>