@{
    ViewBag.Title = "GerentesDeDepartamento";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Registro de los managers por departamento con vigencias</p>
    <p>
        Entidad Relacionadas en esta pagina son: dept_manager, employees, departments
    </p>
</main>