@{
    ViewBag.Title = "Reportes";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Consultas y reportes PDF / Excel de nomina, estructura y cambios</p>
    <p>
        Entidad Relacionadas en esta pagina son: todas
    </p>
</main>