@{
    ViewBag.Title = "TitulosCargos";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Historico de titulos por empleado</p>
    <p>
        Entidad Relacionadas en esta pagina son: titles,employees
    </p>
</main>