@{
    ViewBag.Title = "Login";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Esta es la pagina de inicio de sesion y cierre de sesion. Gestion basica de credenciales</p>
    <p>
        Entidad Relacionadas en esta pagina son: users
    </p>
    <p><strong>Pantallas requeridas</strong><p>
    <p>Login<p>
    <p><strong>Descripcion / Campos Clave</strong><p>
    <p>usuario, clave<p>
    <p><strong>Acciones</strong><p>
    <p>Iniciar sesion, recordar sesion (opcional)<p>

</main>