
@{
    ViewBag.Title = "Probar Conexion";
}


@model sistemanomina.Models.Empleado

<h2>Detalle del Empleado</h2>
<p>Nombre: @Model.Nombre</p>
<p>Apellido: @Model.Apellido</p>
<p>Salario: @Model.Salario</p>
<p>Sexo: @Model.sexo</p>
