@{
    ViewBag.Title = "Salarios";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Gestion de salarios  empleado con vigencia y auditoria.</p>
    <p>
        Entidad Relacionadas en esta pagina son: salaries, Log_AuditoriaSalarios, employees 
    </p>
</main>